
     
html { 
  background: url(images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   
  background: url(images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
font-family: 'Roboto Condensed', sans-serif;
background-image: url('/media/random.jpg');


}


#mainnav {
position: absolute;
font-family: 'Roboto Condensed', sans-serif;
z-index: 1;

}
#mainnav li {
margin: 55px 0;
left: -550px;
position: relative;
display: none;

}
#mainnav a {
color: white;   
text-decoration: none;
font-size: 1.4em;

 

} 
   ul li{
       list-style: none;
       margin-top: -50px;
       
   }
.hamb {
position: absolute;
top: 20px;
left: 20px;
font-size: 2.5em;
z-index: 1;
}
.hamb a {
color: #fff;
text-decoration: none;
}
.sliderText
{
position: fixed;
width: 100%;
bottom: 0%;
left: 50%;
right: 50%;
transform: translate(-50%, -50%)

height: 200px;
display: flex;
justify-content: center;
align-items: center;
}
html, body, .hero {
height: 100%;
}
.hero {
width: 100%;
min-height: 600px;
background-image:url(testmonial-bg.jpg);
background-size: cover;
}
.swiper-slide .logo{
width: auto;
height: 300px;
overflow: hidden;

}
.swiper-slide .content{
font-family: 'Roboto Condensed', sans-serif;

box-sizing: border-box;
padding: 20px;
font-size: 20px;
}
.restcontainer .restname{
    font-family: 'Roboto Condensed', sans-serif;
    
    box-sizing: border-box;
    padding: 20px;
    font-size: 20px;
    }
.swiper-slide .content h3{
    padding: 0px;
    margin: 0px;
  font-size: 20px;
  line-height: 20px;
/*   text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
    0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
  color: #fccaff; */
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  font-family: "Sacramento", cursive;
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
}
 .restcontainer .restname h3{
    padding: 0px;
    margin: 0px;
  font-size: 20px;
  line-height: 20px;
/*   text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
    0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
  color: #fccaff; */
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  font-family: "Sacramento", cursive;
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:900i');

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide .wrapper {
  display: flex;
  justify-content: center;
}

.swiper-slide .cta {
    display: flex;
    padding: 10px 45px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: white;
    background: #fcba03;
    transition: 1s;
    box-shadow: 6px 6px 0 black;
    transform: skewX(-15deg);
}

.swiper-slide .cta:focus {
   outline: none; 
}

.swiper-slide .cta:hover {
    transition: 0.5s;
    box-shadow: 10px 10px 0 #523ed6;
}

.cta span:nth-child(2) {
    transition: 0.5s;
    margin-right: 0px;
}

.cta:hover  span:nth-child(2) {
    transition: 0.5s;
    margin-right: 45px;
}

  span {
    transform: skewX(15deg) 
  }

  span:nth-child(2) {
    width: 20px;
    margin-left: 30px;
    position: relative;
    top: 12%;
  }
  
/**************SVG****************/

path.one {
    transition: 0.4s;
    transform: translateX(-60%);
}

path.two {
    transition: 0.5s;
    transform: translateX(-30%);
}

.cta:hover path.three {
    animation: color_anim 1s infinite 0.2s;
}

.cta:hover path.one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
}

.cta:hover path.two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */

@keyframes color_anim {
    0% {
        fill: white;
    }
    50% {
        fill: #FBC638;
    }
    100% {
        fill: white;
    }
}

h1 {
font-size: 5em;
text-align: center;
font-weight: 700;
font-family: 'Roboto Condensed', sans-serif;
color: #fff;
width: 100%;
position: absolute;
top: 42%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}
#bubble {
width: 100%;
height: 100%;
opacity: 0.9;
position: fixed;
display: none;
z-index: 1;
background: rgba(0, 0, 0, .5);
}

   
   .gap{
        
       color: white;
       margin-top: 100px;
       width: 200px;
       
        
        
   }
   
   h1 span{
       font-size: 90px;
       letter-spacing: 4;
       margin-left: -30px;
       color: orange;
   }






.swiper-container {
 width: 50%;
 padding-top: 100px;
 padding-bottom: 50px;
}
.swiper-slide {
 background-position: center;
 background-size: cover;
 width: 300px;
 height: 500px;

}

div.ex1 {
width:100px;
font-size: 200%;

margin: auto;
color: #fff;
}

h3 {

color: #fff;
width: 100%;

}
